.content table {
	width: 100%;
}

.content table td{
	padding: 10px;
	font-size: .8rem;
}

.img-responsive{
	width: 100%;
}

@media (max-width: 768px){
	.content table td{
		width: 100% !important;
		display: inline-block;
		text-align: left;
	}
}