!app/config/config.php
!app/config/database.php
!app/config/redis.php 
app/logs/log-*.php
!app/logs/index.html
app/cache/*
!app/cache/index.html
!app/cache/.htaccess
!pub/data/uploads/index.html
pub/data/uploads/*
pub/data/photos/*
node_modules/*
pub/npm/*
!pub/npm/index.html
pub/mods/*
!pub/mods/index.html
pub/npm/*
.idea/*
.idea/scopes/*
vendor/*
.vs
.vscode
!.env