!app/config/config.php
!app/config/database.php
!app/config/redis.php 
app/logs/log-*.php
!app/logs/index.html
app/cache/*
!app/cache/index.html
!app/cache/.htaccess
pub/data/uploads/*
!pub/data/uploads/index.html
pub/data/photos/*
!pub/data/photos/index.html
pub/npm/*
!pub/npm/index.html
pub/mods/*
!pub/mods/index.html
.idea/*
.idea/scopes/*
node_modules/
vendor/*
.vs
.vscode
.env