 #dropzone {
	padding: 0;
	margin: 0;
	border: 1px dashed #CCC;
	width: 100% !important;
	height: 10px;
	overflow: hidden;
	min-height: 72px !important;
}

.dropzone .dz-message{
	margin-top:10px;
}

.dropzone .dz-message .upload_info{
	font-size: 11px;
	
}

.file_upload{ cursor: pointer; }

.file_thumbnail{ display: none; cursor: pointer;}

.file_thumbnail i{
	font-size: 50px;
	margin-top: 10px;
}

.file_thumbnail span{
	display: block;
	text-transform: uppercase;
	font-size: 11px;
	color: #666;
}

.color_pdf{
	color: #d24726;
}

.color_doc{
	color: #0f50b4;
}