.career_box {
	padding: 15px 15px;
}

.new_career_box {
	/* box-shadow: 0px 0px 7px 0px #CCC; */
}

.new_career_box .details p.title{
	text-transform: uppercase;
	font-family: Gotham-Medium;
	font-size: 1.5rem;
}

.jobs_found {
	font-size: 1.50rem;
	text-transform: capitalize;
	font-weight: bold;
	color: #07793f;
	text-align: left !important;
} 

.page_overview_button{
	display: inline-block;
}
/** zoom **/
.image_wrapper{
  overflow: hidden;
}

.image_wrapper .image_container {
 	visibility: visible;
 	-webkit-transform: translateY(0) scale(1);
 	transform: translateY(0) scale(1);
 	-webkit-transition: -webkit-transform .7s ease-in-out 0.2s; 
 	transition: transform .7s ease-in-out 0.2s; 
}

.image_wrapper:hover .image_container {
	-webkit-transform: translateY(0) scale(1.1);
 	transform: translateY(0) scale(1.1);
	-webkit-transition: -webkit-transform 1s; 
 	transition: transform 1s; 
}

.image_container, .image_wrapper .image_container img{
  object-fit: cover;
  width: 100%;
  height: 280px;
}
/* zoom */

.image_wrapper .details {
  position: absolute;
  z-index: 1;
  width: 100%;
  margin-top: 15px;
  /* margin: 0px -15px; */
  padding: 0 40px;

}

.image_wrapper .details{
  color: #FFF;
  /* top: 35px; */
  text-align: left
}

.image_wrapper .details p{
	margin-bottom: 0px;
	padding: 0px;
	 color: #666;
}

.image_wrapper .details p.title{
	text-transform: uppercase;
	font-size: 1.5rem;
}

.image_wrapper .details p.dept{
	font-size: .9rem;
	margin-top: 5px;
}

.image_wrapper .details p.divi{
	font-size: .8rem;
	margin-bottom: 5px;
}

.image_wrapper .details p.dtpost{
	font-size: .9rem;
	margin-bottom: 15px;
}

.image_wrapper .details i{
	font-size: 1.8rem;
	margin-right: 10px;
}

.image_wrapper .details p.loc{
	font-size: 1.15rem;
	text-transform: capitalize;
	font-weight: bold;
	color: #07793f;
	margin-top: 8px;
}

#alldiv .card .card-header {
	background-color: rgb(245, 245, 245);
	padding:20px 40px 10px;
  }

#alldiv .card .card-body {
	padding:10px 40px 30px;
  }

  .card .details{
	color: #FFF;
	top: 35px;
	text-align: left
  }
  
  .card .details p{
	  margin-bottom: 0px;
	  padding: 0px;
	   color: #666;
  }
  
  .card .details p.title{
	  text-transform: uppercase;
	  font-size: 1.5rem;
  }
  
  .card .details p.dept{
	  font-size: .9rem;
	  margin-top: 5px;
  }
  
  .card .details p.divi{
	  font-size: .8rem;
	  margin-bottom: 5px;
  }
  
  .card .details p.dtpost{
	  font-size: .9rem;
	  margin-bottom: 8px;
  }
  
  .card .details i{
	  font-size: 1.1rem;
	  margin-right: 10px;
  }
  
  .card .details p.loc{
	  font-size: .9rem;
	  text-transform: capitalize;
	  font-weight: bold;
	  color: #07793f;
	  margin-top: 3px;
	  margin-bottom: 10px;
  }
  

#careers_content a{
/*	color: #07793F;
	border: 3px solid #07793F;
	background-color: #FFF;
	padding: 10px 30px;
	text-transform: uppercase;
	font-size: .8rem;
	padding-top: 10px;*/
	margin-top: 20px;
	display: inline-block;
}

.view_career_button{

}

.search_tab{ 
	margin: 20px 0;
	text-align: left;
	background-color:  rgb(245, 245, 245);
}

input.form-control::placeholder{
    color: #666;
    text-transform: uppercase;
    font-size: .8rem;
}

.search_tab input, .search_tab select{ 
	font-size: .8rem; 
    border: 0;
    border-radius: 0;
    border-bottom: 2px solid #b2b2b2;
	background-color:  rgb(245, 245, 245);
}

.search_tab input:focus, .search_tab select:focus{ 
    font-size: .8rem; 
    outline: none;
    box-shadow: none;
    border-bottom: 2px solid #b2b2b2;
	background-color:  rgb(245, 245, 245);
}

.search_tab .default_search{
	margin-bottom: 20px;
}

.search_tab .form-control{
    border-radius: 0px;
}

.search_tab label{
	color: #666;
	padding-top: 8px;
	letter-spacing: 1px;
	font-size: .7rem;
	text-transform: uppercase;
	font-weight: 700;
	text-align: left;

}

.search_tab .button_search{

	min-width: auto !important;
    display: block;
    padding: 8px;
    text-align: center;
/*	width: 100%;
    border: 0;
    background-color: #07793f;
    bottom: 0px;
	height: 38px;
    cursor: pointer;*/
}

.search_tab .button_search i{
	/*color: #fff;*/
}


.search_tab select:invalid, option:first-child
{
    color: #ccc;
}

.search_tab:selection{
	color: #ccc !important;
}

.breadcrumbs{
    top: 25px;
}

.no_career_div{
	margin-top: 100px;
	text-align: center;
}

#clear_search label{
	cursor:pointer;
}

#career_search_button{
	display:none;
}
@media(max-width: 991px) {
	a.default-button{
		min-width: auto !important;
	}
	a.default-button-2{
		max-width: 150px !important;
	}
	#career_search_button{
		display:inline;
	}	
	#clear_search{
		text-align: center;
	}
	#clear_search span{
		margin-left: 0px !important;
	}
}