img{
	-moz-user-select: none;
	cursor: pointer;
}

#banner_image img{
	height: 410px;
	width: 100%;
	object-fit: cover;
	object-position: 50% 60%;
}

#banner_logo_image{
    background-image: url(http://ortigas.web.local/data/images/ortigas_logo_image.png);
    height: 410px;
    width: 100%;
    z-index: 0;
    position: absolute;
    background-repeat: no-repeat;
    background-position: right;
}

.content{
	padding-top: 50px;
}

.estates {
	padding: 20px 15px;
}

/** zoom **/
.image_wrapper{
  overflow: hidden;
}

.image_wrapper .image_container {
 	visibility: visible;
 	-webkit-transform: translateY(0) scale(1);
 	transform: translateY(0) scale(1);
 	-webkit-transition: -webkit-transform .7s ease-in-out 0.2s; 
 	transition: transform .7s ease-in-out 0.2s; 
}

.image_wrapper:hover .image_container {
	-webkit-transform: translateY(0) scale(1.1);
 	transform: translateY(0) scale(1.1);
	-webkit-transition: -webkit-transform 1s; 
 	transition: transform 1s; 
}

.image_wrapper .image_container img{
  object-fit: cover;
  width: 100%;
  height: 280px;
}
/* zoom */

.image_wrapper .property, .image_wrapper .estate{
  position: absolute;
  z-index: 1;
  width: 100%;
  margin: 0px -15px;
  width: calc(100% -30px)
 
}

.image_wrapper .property{
  color: #FFF;
  top: 35px;
  text-transform: uppercase;
}

.image_wrapper .property p{
	margin-bottom: 0px;
	padding: 0px;
}

#banner_image h1{
    position: absolute;
    top: 274px;
    font-size: 70px;
    left: 100px;
    color: #fff;
}

   


