h1, p, span, a {
	/*color: #666666;*/
}
#banner_image h1{
	text-align: center;
    left: 0;
    width: 100%;
}
.estate_button{
	text-align: center;
	cursor: pointer;
}

.properties_overview{
	margin-top: 40px;
}

#slider img{
	object-fit: cover;
}


.specific_estate .btn_est{
	padding: 0 5px;
}

.specific_estate .btn_est:first-child .estate_button{ 
   background-color: #34644e;
}

.specific_estate .btn_est:nth-child(2) .estate_button{ 
    background-color: #34866b;
}

.specific_estate .btn_est:last-child .estate_button{ 
  background-color: #589980;
}

.carousel-indicator_button{
	border: 1px solid #FFF;
	margin: auto 10px;
	object-fit: cover;
}

.carousel-indicator_button.active{
	/*object-fit: cover; opacity: 0.6;*/
}

.carousel-indicators {
/*	justify-content: flex-end;
	margin-right: 7px !important;
	margin-bottom: 14px !important;
	bottom: 0px !important; */
}

#unit-floorplan{
	text-align: center;
	margin-top: 40px;
	margin-bottom: 60px;
}

#unit-floorplan h1{
	color: #07793f;
}

#unit-floorplan a{
	color: #666;
	cursor: pointer;
}

#unit-floorplan img{
	margin: 20px auto;
	object-fit: cover;
	max-width: 500px;
	width: 100%;
}

#unit-floorplan ul{
	display: inline-flex;
	text-align: center;
}
    

#unit-floorplan ul li{
	text-transform: uppercase;
	border-right: 1px solid #666;
	padding: 0px 20px;
}

#unit-floorplan ul li a:hover{
	color: #666666;
	border-bottom: 2px solid #07793f;
}

#unit-floorplan ul li a{
	text-decoration: none;
}

#unit-floorplan ul li a.active{
	color: #07793f;
}

#unit-floorplan ul li:last-child{
	border-right: none;
}

#check_available_button{
	padding: 20px 30px;
    height: 100px;
    background-color: #07793f;
    text-transform: uppercase;
    margin: auto;
    color: #FFF !important;
    line-height: 60px;
    text-decoration: none;
    letter-spacing: 2px;
}

#building-floorplan{ margin: 60px 0; }
.floorplan_heading h1{
	text-align: center;
	color: #07793f;
}

#floorplan_image{
	width: 100%;
	max-width: 500px;
}

#select-floorplan, #select-floorplan2{
    height: 50px;
    max-width: 270px;
    margin: auto;
    font-size: 12px;
    padding: 5px 15px;
    border-radius: 0;
}

.image_wrapper .property {
	top: auto;
    bottom: 35px;
}

.image_wrapper .property p {
	color: #FFF;
}

#unit-img{
	margin-top: 20px;
/*    -ms-flex: 100%;
    flex: 100%;
     width: 100%;
    max-width: 100%;
    float: left;*/
}

.unit-reservation-heading{
	margin: 40px 0;
	border-bottom: 2px solid #999;
	text-align: left;
	display: none;
}
#unit-reserve {
	position: relative;
	width: 100%;
	color: #666666;
}
#unit-reserve table {
	display: none;
    width: 34%;
    float: right;
    margin-right: 22px;
    margin-top: 40px;
}
#unit-reserve table th{
	padding: 15px 30px;
	background-color:rgba(0, 0, 0, 0.2);
	font-weight: 200;
}
#unit-reserve table td{
	padding: 15px 30px;
}

#unit-reserve table tr:nth-child(odd){
	background-color:rgba(0, 0, 0, 0.1);
}

#unit-reserve table button{
	border: 2px solid #666;
    background-color: #FFF;
    color: #666;
    padding: 7px 25px;
    cursor: pointer;
}

#unit-reserve table button:hover{
    background-color: #666;
    color: #FFF;
}

#reservation_form, #unit_payment_method{
	display: none;
	text-align: left;
	color: #666;
}

#reservation_form .row1, #reservation_form .row2 {
	margin-bottom: 30px;
}

#reservation_form .pointer  {
	cursor: pointer;
}

#reservation_form button {
	cursor: pointer;
	color: #666;
	padding: 5px 40px;
	opacity: .5;
}

#unit_payment_method input{
	/*//visibility: hidden;*/
}

#unit_payment_method img{
	width: 120px;
	border: 1px solid #666;
	padding: 20px;
}

#unit_payment_method button{
	margin-top: 40px;
	padding: 5px 40px;
	cursor: pointer;
}

#other-residences {
	margin-top: 60px;
}
#other-residences h1{
	text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
}

#other-residences .image_wrapper .image_container img {
	max-height: 240px;
}

.related_news_title{
	padding-bottom: 40px;
}

.news_content{
	text-align: left;
}
.news_sidebar{ padding-left: 50px; }

.stick_side label{
	font-size: .8rem !important;
}

.stick_side .related_properties_result{
	margin-top: 0 !important;
}

.stick_side .inquiry_border_bottom{
	margin-top: 20px !important;
	margin-bottom: 0 !important;
}

.stick_side .inquiry_form{
	margin-bottom: 0 !important
}

.related_properties_result .estates{ padding: 10px;}

.related_properties_result .category_title{ 
	border-bottom: 0;
	padding: 10px 0;
}
.related_properties_result .category_title h1{
	font-size: 14px;
	color: #666;
	letter-spacing: 1px;
	font-weight: bold;
	margin: 0;
	padding-bottom: 0;
	text-transform: uppercase;
}
.related_properties_result .image_wrapper .image_container img {
	height: 100px;
}

.inquiry_form .form_container{
/*	flex: 100%;
	max-width: 100%;*/
}


.inquiry_border_bottom{ display: block !important; }

.inquiry_form h1{
	font-size: 28px !important;
	font-weight: bold;
	margin: 15px 0 25px 0 !important;
}

#location_view{
   	color: #666;
   	margin-bottom: 60px;
   	text-align: left;
}

#location_view h1{
   border-right: 1px solid #9a9a9a;
   color: #07793f;
}

#location_view h3{
    margin: 0;
    font-size: 1.5rem;
    color: #07793f;
}

#location_view li a{
	text-transform: uppercase;
	border-right: 1px solid #9a9a9a;
	font-size: .8rem;
	padding: 0 10px;
	cursor: pointer;
	font-weight: bold;
}

#location_view li a:hover{
	color: #07793f;
}

#location_view li:last-child a{
	border-right: 0;
}
#location_view li:first-child a{
	padding-left: 0px;
}

.nearby_title{
	padding: 15px 15px 5px 15px;
    display: block;
    float: left;
    width: 100%;
}

.nearby_title p{
    padding: 8px 0;
    color: #07793f;
    border-bottom: 2px solid #07793f;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: bold;
    text-indent: 10px;
    margin-bottom: 0px;
}

#location_view .nearby ul{
	list-style: none;
	padding: 0;
	margin-bottom: 0px;
}
#location_view .nearby ul li{
    padding: 20px 15px;
    float: left;
    box-shadow: 4px 4px 7px -2px #CCC;
    width: 50%;
}


.construction_update{
	color: #666;
	/*background-color: #377659;*/
}

.construction_update .year{
	padding: 20px 0 30px 0;
}

.construction_update h1{
	color: #07793F;
	text-align: center;
	padding-top: 10px;
}

.construction_update p{
	color: #FFF;
	margin-bottom: 0px;
	margin-top: 70px;
}

.construction_update .button_progress{
	padding-bottom: 40px;
}
.construction_update .button_progress a{
	padding: 25px;
    text-transform: uppercase;
    display: block;
    max-width: 250px;
    text-align: center;
    background-color: #FFF;
    margin: auto;
    letter-spacing: 1px;
    color: #07793f;
    font-weight: bold;
    cursor: pointer;
}

.construction_stages {
    width: 140px;
    margin: auto;
    text-align: center;
}

.property_construction_update{
	padding: 0 106px;
}

.property_construction_update .all_stages{
	height: 15px;
    background-color: #FFF;
    border-radius: 8px;
    position: relative;
    top: 190px;
}

.property_construction_update .current_stage_value{
	height: 15px;
	border-radius: 8px;
	background-color: #4ead81;
	position: relative;
    top: 175px;
}

.construction_update img{
    filter: brightness(50%);
}

.amenities{
	margin: 40px auto;
	color: #666;
	text-transform: capitalize;
}
.amenities h1{
	color: #07793f;
}
.amenities i{
	font-size: 7px;
    top: -3px;
    position: relative;
    margin-right: 10px;
    color: #07793f;
}

.amenities .row{
	text-align: left;
}

.tabs_view_outer{ display: none; }
.tabs_view_inner{ display: block; }


.modal-dialog {
    width: 80% !important;
}

@media (max-width: 1024px){

	.tabs_view_outer{ display: block; }
	.tabs_view_inner{ display: none; }

	.specific_estate .estate_button p {
		font-size: .9rem;
	}
	.property_view_content , .news_sidebar{
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;

	} 
	.specific_estate .btn_est{
		padding: 0;
	}

	.specific_estate{
		margin: 0;
	}

	.content{
		margin-top: 0px;
	}

	.related_properties_result{
		width: 300px;
		margin: auto;
	}

	.news_sidebar{
		padding-left: 15px;
	}
}

@media (max-width: 768px){
	#location_view div{
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}

	#location_view h1{
		border-right: none;
	}

	.related_properties_result{
		width: 100%;
		max-width: 300px;
	}
   	.related_properties_result .estates { width: 50%;}

   	.construction_update h1{
   		font-size: 1.5rem;
   	}
   	.construction_update .button_progress a{
   		font-size: .9rem;
   		padding: 10px;
   		max-width: 200px;
   	}

   	.property_construction_update{
   		padding: 0 40px;
   	}

   	.construction_stages{
   		width:auto;
   	}

   	.construction_stages label{
   		font-style: .75rem;
   	}

   	.property_construction_update .all_stages{
   		top: 170px;
   	}

   	.property_construction_update .current_stage_value{
   		top: 155px;
   	}
   	.ground, .presell, .turnover{
   		max-width: 33%;
   		flex: 33%;
   		-ms-flex: 33%;
   	}
}

@media (max-width: 425px){
	.floorplan_heading h1{
		font-size: 2rem;
	}

}

@media (max-width: 320px){
	.nearby li{
		float: initial !important;
		width: 100% !important;
	}

	#check_available_button{
		padding: 20px 10px;
	}

	#unit-floorplan li{
		width: 100%;
		border-right: 0 !important;
		text-align: left;
	}

	#select-floorplan, #select-floorplan2{
		height: 30px;
   	 max-width: 200px;
   	}
}