.search_tab{ 
  margin: 40px 0;
  text-align: left;
}

.search_tab input, .search_tab select{ 
  font-size: 12px;
}

.search_tab .default_search{
  margin-bottom: 20px;
}

.search_tab .form-control{
    border-radius: 0px;
    border: none;
    border-bottom: 2px solid #b2b2b2;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #b2b2b2;
    height: auto;
    padding: .6rem .75rem;
    cursor: pointer;
}

.search_tab .form-control:focus {
  outline: unset;
  color: #495057;
}

.search_tab label{
    color: #07793f;
    padding-top: 8px;
    letter-spacing: 1px;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.search_tab .button_search{
  /*  width: 100%;
    border: 0;
    background-color: #07793f;
    bottom: 0px;
    height: 38px;
    cursor: pointer;*/
    display: block;
    padding: 8px;
    text-align: center;
}

.search_tab .button_search i{
 /* color: #fff;*/
}

.search_tab select:invalid, option:first-child
{
    color: #ccc;
}

.search_tab:selection{
  color: #ccc !important;
}

.colsearch{
    -ms-flex: 0 0 10%;
    flex: 0 0 10%;
    max-width: 10%;
}

.colselect{
    -ms-flex: 0 0 90%;
    flex: 0 0 90%;
    max-width: 90%;
}

.colsearch a.default-button{
  min-width: auto;
}

@media(max-width: 768px) {
  .colsearch{
      -ms-flex: 0 0 20%;
      flex: 0 0 20%;
      max-width: 20%;
  }

  .colselect{
      -ms-flex: 0 0 80%;
      flex: 0 0 80%;
      max-width: 80%;
  }

}

@media(max-width: 600px) {
  .colsearch,.colselect{
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
  }
  .colsearch a.default-button{
    margin: auto;
  }

}

@media(max-width: 425px) {

  .colsearch a.default-button{
    max-width: 100%;
  }

}