.search_index .global_search{
	display: block;
	padding: 0px;
}

.nav_search_button{
	pointer-events: none;
}

.search_index h5{
    color: #07793f;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}
.property_overview{
	line-height: 1.5em;
    height: 2.9em;
    font-size: .9rem;
    overflow: hidden;
}

.unit_types{
	padding-top: 10px;
}
.unit_types span{
	margin-right: 10px;
	
}

.property_details{
	text-align: left;
}

.property_details a {
	text-decoration: none;
	color: #666;
}

.property_details .green{
	color: #07793f;
	display: block;
}

.property_details h2{
	text-transform: uppercase;
}

.search_properties_row{
	box-shadow: 0px 3px 10px 2px #CCC !important;
    margin-bottom: 30px;
}

.seo_content h1{
	border-top: 3px solid #b4d7c5;
	padding-top: 20px;
}

.search_result_search_label{
	font-weight: bold;
	letter-spacing: -2px;
	text-align: left;
	color: #07793f;
	border-bottom: 2px solid #b4d7c5;
	margin-bottom: 50px;
	font-size: 1.5rem;

}

.search_result h1{
	text-align: left;
}

.close_global_search{
	display: none;
}

.image_wrapper .property, .image_wrapper .estate{text-align: center; width: 100%; margin-bottom: -20px;}

@media(max-width: 768px) {
	.property_details{
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}

	.property_details h2{
		font-size: 2rem;
	}

	.property_details p{
		font-size: .9rem;
	}

	.search_result_search_label{
		font-size: 1.5rem;
	
	}
}


/*.search_tab{
	min-height: 115px;
}
.search_tab .form-control{
    border-radius: 0px;
}

.default_search{
	margin-bottom: 20px;
}

.default_search i{
    position: absolute;
    right: 30px;
    top: 10px;
    color: #666;
    cursor: pointer;
}

.default_search label{
	color: #07793f;
	padding-top: 8px;
	letter-spacing: 1px;
	font-size: 13px;
}

.button_search{
	width: 100%;
    border: 0;
    background-color: #07793f;
    bottom: 0px;
	height: 38px;
    cursor: pointer;
}

.button_search i{
	color: #fff;
}

.advance_search .col-sm-4{
    padding-right: 0px;
}

.advance_search label{
	color: #07793f;
	letter-spacing: 1px;
	font-size: 12px;
    text-transform: uppercase;
}

.search_option{
	float: right;
    margin-left: -24px;
    text-transform: uppercase;
    padding-top: 10px;
    letter-spacing: 1px;
	color: #666;
	font-size: 12px;
	cursor: pointer;
}*/