.inquiry_form h1{
	font-family: Didot;
	color: #07793f;
	margin: 25px 0 25px 0;
}

.inquiry_form .form_container{
	text-align: left;
	margin-bottom: 10px;
}

.inquiry_form .form_container input, .inquiry_form .form_container textarea{
	border-radius: 0px;
}

.inquiry_form .form_container label{
	color: #666;
	text-transform: uppercase;
	font-size: .9rem;
}

.inquiry_form a{
	color: #FFF !important;
    padding: 15px 40px;
    margin: auto;
    margin-top: 30px;
    font-size: .7rem;
    display: block;
    width: 150px;
}

.inquiry_border_bottom { 
	margin: 30px 0;
    height: 3px;
    background-color: #aed0bf;
    display: none;
}



#form_landing h1 {color: #07793f;}
#form_landing .modal-body { padding: 3rem 1rem; }

.modal-dialog {
  min-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
  @media(max-width: 768px) {
    min-height: calc(100vh - 40px);
  }
}



@media (max-width: 768px){
	.inquiry_form_container .form_container {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
}