.news_content{
	text-align: left;
}
.news_sidebar{ padding-left: 50px; }

.estates{ padding: 10px;}

.category_title{ 
	border-bottom: 0;
	padding: 10px 0;
}
.category_title h2{
	font-size: 14px;
	color: #666;
	letter-spacing: 1px;
	font-weight: bold;
	margin: 0;
	padding-bottom: 0;
	text-transform: uppercase;
}
.image_wrapper .image_container img {
	height: 100px;
}

.inquiry_form .form_container{
	flex: 100%;
	max-width: 100%;
}

.inquiry_border_bottom{ display: block !important; }

.inquiry_form h1{
	font-size: 28px !important;
	margin: 15px 0 25px 0 !important;
}


.news_tags, .news_details i.fa{ display: inline-block !important; }

@media (max-width: 1024px){
	.news_content, .news_sidebar {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
		
	}

	.related_properties_result {
	    width: 100%;
	    max-width: 300px;
	    margin: auto;
	}

	.news_sidebar {
	    padding-left: 15px;
	}
}
@media (max-width: 768px){

.related_properties_result .estates { width: 50%;}
}