.news_related_content{
	max-width: 1100px;
	margin: auto;
}
.news_result{
	margin: 20px 0;
	box-shadow: 10px 10px 15px -6px #9a9a9a;
}

.news_content .news_title{ font-family: Didot; color: #07793f; }
.news_content .news_filter_label { color: #666; }
.news_content .news_filter {
    padding: 4px 8px;
    font-size: .8rem;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 2px 2px 5px -1px #9a9a9a;
    color: #666 !important;
}

.news_image img{
	object-fit: cover;
	width: 100%;
	height: 200px;
}
.news_details{}
.news_details h2{
	margin-top: 10px;
	font-size: 1.2rem;
	text-transform: uppercase;
}
.news_details label span.dtpost{
	font-size: .8rem;
	border-right: 1px solid #999 !important;
	padding-right: 10px;
	color: #666;
}
.news_details i.fa{
	padding-left: 10px;
	font-size: 1rem;
	color: #07793f;
	display: inline-block;
}
.news_details span.news_tags{
	font-size: .9rem;
	color: #07793f;
	display: inline-block;
}

.news_details span.news_text p{
	color: #666;
	font-size: .9rem;
    height: 4.5em;
    overflow: hidden;
    margin-right: 10px;
}
.news_details a{
	padding: 14px 19px;
	font-size: .7rem;
	color: #FFF;
}



@media(max-width: 768px) {
	.news_result div{
		width: 100%;
		max-width: 100%;
		-ms-flex: 0 0 100%;
      	flex: 0 0 100%;
      	padding: 0;
      	margin: 0;

	}

	.news_result{
		box-shadow: initial;
	}

	.news_details span.news_text p {
	    height: 3.1em;
	}

	.news_details {
		text-align: left;
	}

	.news_details a {
	    display: block;
	    max-width: 130px;
	    text-align: center;
	    color: #07793f;
	    background: #FFF;
	    border: 3px solid #07793f;
	}
}


@media (max-width: 1024px){
	.news_result_container{
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
}