video::-webkit-media-controls{
    display: none;
    -webkit-appearance: none;
}

video{
  margin: auto;

}

.search_tab .form-control:focus {
  outline: none;
}
.banner_gradient{
  display: none;
  visibility: none;
  background: none;
}

#video_player{
  object-fit: cover;
}

#video_label{
  top: 40%;
  position: absolute;
  width: 100%;
  color: #FFF;
  cursor: default;
  padding: 0 40px;
  opacity: 0;
}

#video_label .Left{
  text-align: left;
}

#video_label .Right{
  text-align: right;
}

#video_label .Center{
  text-align: center;
}

#video_label h2{
font-size: 3.5rem;
color: #FFF !important;
}


.video_division{
  overflow: hidden;
}

#video_label a {
  display: inline-block;
/*  background-color: #FFF;
  border: 1px solid #CCC;
  color: #666 !important;*/
}

.carousel-control-prev, .carousel-control-next{
  z-index: 1000;
}


.estates img{
  object-fit: cover;
	width: 100%;
	height: 475px;
	-moz-user-select: none;
	cursor: pointer;
}

.estates a{
  color: #fff;
  text-decoration: none;
}

 

.image_wrapper .bgestate {
 /* background: linear-gradient(transparent, #00793F 100%);
  bottom: 20px;
  height: 170px;*/
 }

 .image_wrapper center {
  bottom: 30px;
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 1.3rem;
  font-weight: lighter;
 }
/*
.estates{
	opacity: 0;
	animation-name: fadeIn;
	animation-duration: .5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.estates:nth-child(2){
	 animation-delay: .5s;
}

.estates:nth-child(3){
	 animation-delay: 1s;
}
.estates:nth-child(4){
   animation-delay: 1.5s;
}
*/


.page_content{ margin: 30px 0; }
.page_content h1{ color: #07793f; font-size: 3.5rem; font-weight: bold; } 

.page_content h1:last-child{ text-transform: uppercase; } 


.image_wrapper{
  overflow: hidden;
}

.image_wrapper .image_container {
 	visibility: visible;
 	-webkit-transform: translateY(0) scale(1);
 	transform: translateY(0) scale(1);
 	-webkit-transition: -webkit-transform .7s ease-in-out 0.2s; 
 	transition: transform .7s ease-in-out 0.2s; 
}

.image_wrapper:hover .image_container {
	-webkit-transform: translateY(0) scale(1.1);
 	transform: translateY(0) scale(1.1);
	-webkit-transition: -webkit-transform 1s; 
 	transition: transform 1s; 
}

.image_wrapper .image_container img{
  object-fit: cover;
  width: 100%;
  height: 475px;
}

.estate_gradient{
  background-image: -webkit-gradient(
  linear, left top, left bottom, from(rgba(1,1,1,0)),
  to(#07793f));
}

.properties .image_wrapper .image_container img{
  height: 525px;
}


.residences img{
  height: 415px;
}

.main_page{
  margin: 20px 0 20px 0;
}

.main_page h1{
  width: 100%;
}

.main_page .cat_heading{
  margin-top: 60px;
  margin-bottom: 40px;
}

.main_page .est_title{
  text-align: center;
}

.main_page .est_title h2, .main_page .res_title h2 {
    color:  #07793f;
    text-align: center;
    font-size: 1.5rem;
    margin: auto;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
.mo_title h2{
    margin-top: 80px;
    color:  #07793f;
    text-align: left;
    font-size: 1.5rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.n_title h2{
    color:  #07793f;
    text-align: left;
    font-size: 1.5rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.n_link{
    text-align: right;
    font-size: .7rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.n_link a{
    text-decoration: none;
    color: #666;
}

.mo_desc{
  margin: 30px 0;
  max-width: 80%;
  text-align: left;
  font-size: .9rem;
}
.main_page .est_desc{
    max-width: 700px;
    line-height: 1.5em;
    overflow: hidden;
    padding: 0 50px;
    text-align: center;
    margin: auto;
    margin-bottom: 40px;

}

.main_page .est_desc h1{
   display: none;
}


.main_page .est_link a{
  display: block;
  width: 150px;
  margin: auto;
}

.main_page .res_desc{
    line-height: 1.5em;
    font-size: .9rem;
    text-align: center;
    max-width: 700px;
    margin: auto;
}

.main_page .res_link{
  text-align: center;
}

.main_page .res_link a {
    margin-top: 30px;
    display: inline-block;
}

.mo_link {
  display: table;
}

.est_link2{display: none;}

#slider h1{ display: none; }

.news_related{
  margin-top: 30px;
}

.news_related .row{

}

.residence_logo{
  bottom: 0;
  left: 10px;
  position: absolute !important;
  width: 30%!important;
  object-fit: contain !important;
  height: 30% !important;
  filter: brightness(0) invert(1);
}

.news_details i.fa{
  display: none !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  
  to {
    opacity: 1;
  }
}


@media(max-width: 1024px) {
  .image_wrapper .image_container img {
      height: auto;
	  min-height: 250px;
  }
  
  .properties .image_wrapper .image_container img {
      height: auto;
  }
  .main_page {
      margin: 0;
  }

  .footer_content .subscribe input {
    width: 50%;
  }

  .mo_title, .mo_link{
    width: 50%;
  }

}

@media(max-width: 991px) {
  
/*  .properties .image_wrapper .image_container img {
      height: 490px;
  }*/

  .properties:nth-child(3) {
    display: none;
  }

  .properties {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .est_title, .est_link{   
    -ms-flex: 0 0 25% !important;
    flex: 0 0 25% !important;
    max-width: 25% !important;
  }

  .est_desc{
    -ms-flex: 0 0 50% !important;
    flex: 0 0 50% !important;
    max-width: 50% !important;
    text-align: center;
  }

  #video_label h2{
  font-size: 3.2rem;
  }
}

@media(max-width: 768px) {
  .residences,
  .malls,
  .offices,
  .page_index .col-sm-10, 
  .page_index .col-sm-2, 
  .page_index .col-sm-4 {   
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .properties:nth-child(2), .properties:nth-child(3) {
    display: none;
  }

  .page_content h1 {
      font-size: 2.5rem;
  }

  .search_tab .button_search {
      display: block;
      margin: auto;
  }
  .residences.col-sm-8 {
    padding: 20px 0px;
  }
  .residences img {
      height: 300px;
  }

/*  .properties .image_wrapper .image_container img {
      height: 375px;
  }*/

  .properties{   
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .est_link{
    display: none;
  }

  .est_link2{
     display: block;
/*    background-color: #FFF;
    text-decoration: none;
    padding: 10px;
    display: block;
    border: 2px solid #666;
    text-align: center;
    color: #666 !important;
    text-transform: uppercase;
    letter-spacing: 1px;
   
    margin: auto;
    width: 130px;*/
  }

  .est_link2 a{
    color: #666 !important;
    background-color: #FFF !important;
    border: 2px solid #666;
    margin-top: 20px;
    display: inline-block;
  }

  .est_title{
    -ms-flex: 0 0 40% !important;
    flex: 0 0 40% !important;
    max-width: 40% !important;
  }

  .est_desc{
    -ms-flex: 0 0 60% !important;
    flex: 0 0 60% !important;
    max-width: 60% !important;
    padding: 0 20px 0 0 !important;
  }

  .main_page .cat_heading {
      margin-bottom: 10px;
  }
}


@media (max-width: 576px){
  
  .main_page .est_desc {
    padding: 0 20px;
  }

  p, a {
      font-size: .9rem;
  }


}


@media(max-width: 425px) {

  #video_label p {
     font-size: 1rem;
  }

  .page_content h1 {
      font-size: 1.8rem;
  }

  p, a {
      font-size: .8rem;
  }


  .est_title,  .est_desc{
    -ms-flex: 0 0 100% !important;
    flex: 0 0 100% !important;
    max-width: 100% !important;
    padding: 0 20px !important;
  }


}


