video::-webkit-media-controls{
    display: none;
    -webkit-appearance: none;
}

#video_label{
  top: 30%;
  position: absolute;
  text-align: center;
  width: 100%;
  color: #FFF;
  cursor: default;
  font-family: Gotham-Book;
}

#video_label h1{
font-family: Didot;
font-size: 60px;
}

#video_label button{
  border: none;
  background: #FFF;
  cursor: pointer;
  text-transform: uppercase;
  padding: 15px 30px;
  margin-top: 20px;
}

.video_division{
  height: auto;
  max-height: 700px; 
  overflow: hidden;
}

.estates img{
  object-fit: cover;
	width: 100%;
	height: 475px;
	-moz-user-select: none;
	cursor: pointer;
}

.estates a{
  color: #fff;
  text-decoration: none;
}
/*
.estates{
	opacity: 0;
	animation-name: fadeIn;
	animation-duration: .5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.estates:nth-child(2){
	 animation-delay: .5s;
}

.estates:nth-child(3){
	 animation-delay: 1s;
}
.estates:nth-child(4){
   animation-delay: 1.5s;
}
*/


.page_content{ margin: 30px 0; }
.page_content h1{ font-family: Didot; color: #07793f; font-size: 3.5rem; } 

.page_content h1:last-child{ text-transform: uppercase; } 


.image_wrapper{
  overflow: hidden;
}

.image_wrapper .image_container {
 	visibility: visible;
 	-webkit-transform: translateY(0) scale(1);
 	transform: translateY(0) scale(1);
 	-webkit-transition: -webkit-transform .7s ease-in-out 0.2s; 
 	transition: transform .7s ease-in-out 0.2s; 
}

.image_wrapper:hover .image_container {
	-webkit-transform: translateY(0) scale(1.1);
 	transform: translateY(0) scale(1.1);
	-webkit-transition: -webkit-transform 1s; 
 	transition: transform 1s; 
}

.image_wrapper .image_container img{
  object-fit: cover;
  width: 100%;
  height: 475px;
}

.estate_gradient{
  background-image: -webkit-gradient(
  linear, left top, left bottom, from(rgba(1,1,1,0)),
  to(#07793f));
}

.properties .image_wrapper .image_container img{
  height: 525px;
}


.residences img{
  height: 415px;
}

.main_page{
  padding-top: 20px;
  margin: 40px 0;
}

.main_page h1{
  width: 100%;
}

.main_page .cat_heading{
  margin-bottom: 40px;
}

.main_page .est_title{
   /* border-right: 1px solid #666;*/
}

.main_page .est_title h2 , .main_page .res_title h2, .mo_title{
    color:  #07793f;
    text-align: left;
    font-family: Didot;
    font-size: 2.5rem;
}

.main_page .est_desc{
    line-height: 1.5em;
    height: 3em;
    overflow: hidden;
    padding: 0 100px;
    text-align: left;
}

.main_page .est_link a, .main_page .res_link a{
    background-color: #FFF;
    text-decoration: none;
    padding: 10px;
    display: block;
    border: 2px solid #666;
    text-align: center;
    color: #666;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.main_page .res_desc{
    line-height: 1.5em;
    height: 9em;
    overflow: hidden;
    text-align: left;
}

.main_page .res_link a {
    margin-top: 30px;
    width: 165px;
    border: 0;
    background-color: #07793f;
    bottom: 0px;
    padding: 20px;
    color: #FFF;
}

.mo_link {
  text-align: right;
  letter-spacing: 1px;
  padding-top: 8px;
}

.mo_link a{
  color: #666;
  text-decoration: none;
}

.est_link2{display: none;}

#slider h1{ display: none; }




@keyframes fadeIn {
  from {
    opacity: 0;
  }
  
  to {
    opacity: 1;
  }
}


@media(max-width: 1024px) {
  .image_wrapper .image_container img {
      height: 300px;
  }
  
  .properties .image_wrapper .image_container img {
      height: 425px;
  }
  .main_page {
      margin: 0;
  }

  .footer_content .subscribe input {
    width: 50%;
  }

}

@media(max-width: 991px) {
  
  .properties .image_wrapper .image_container img {
      height: 490px;
  }

  .properties:nth-child(2) {
    display: none;
  }

  .properties {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .est_title, .est_link{   
    -ms-flex: 0 0 25% !important;
    flex: 0 0 25% !important;
    max-width: 25% !important;
  }

  .est_desc{
    -ms-flex: 0 0 50% !important;
    flex: 0 0 50% !important;
    max-width: 50% !important;
    text-align: center;
  }
}

@media(max-width: 768px) {
  .residences,
  .malls,
  .offices,
  .page_index .col-sm-10, 
  .page_index .col-sm-2, 
  .page_index .col-sm-4 {   
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .page_content h1 {
      font-size: 2.5rem;
  }

  .search_tab .button_search {
      width: 150px !important;
      display: block;
      margin: auto;
  }
  .residences.col-sm-8 {
    padding: 20px 0px;
  }
  .residences img {
      height: 300px;
  }

  .properties .image_wrapper .image_container img {
      height: 375px;
  }

  .properties{   
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .est_link{
    display: none;
  }

  .est_link2{
    background-color: #FFF;
    text-decoration: none;
    padding: 10px;
    display: block;
    border: 2px solid #666;
    text-align: center;
    color: #666 !important;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block;
    margin: auto;
    width: 130px;
  }

  .est_link2 a{
    color: #666 !important;
  }

  .est_title{
    -ms-flex: 0 0 40% !important;
    flex: 0 0 40% !important;
    max-width: 40% !important;
  }

  .est_desc{
    -ms-flex: 0 0 60% !important;
    flex: 0 0 60% !important;
    max-width: 60% !important;
    padding: 0 20px 0 0 !important;
  }

  .main_page .cat_heading {
      margin-bottom: 10px;
  }

}


@media (min-width: 576px){
  
  .main_page .est_desc {
    padding: 0 20px;
  }

  p, a {
      font-size: .9rem;
  }
}


@media(max-width: 425px) {
  .page_content h1 {
      font-size: 1.8rem;
  }

  p, a {
      font-size: .8rem;
  }


  .est_title,  .est_desc{
    -ms-flex: 0 0 100% !important;
    flex: 0 0 100% !important;
    max-width: 100% !important;
    padding: 0 20px !important;
  }


}


