img{
    width: 100%;
}
table{
	border: 0px solid transparent;
}

.content  h6,
.content  h5,
.content  h4,
.content  h3,
.content  h2,
.content  h1
{
    color: #07793f;
}

.content table h6,
.content table h5,
.content table h4,
.content table h3,
.content table h2,
.content table h1
{
    color: #07793f;
    margin: 10px 0;
}
.content table h4{
    font-size: 1.1rem;
    font-weight: bold;
}

.content table h5,
.cat_heading{ padding-top: 40px; }
.cat_heading .est_desc {
    line-height: 1.5em;
    height: 3em;
    overflow: hidden;
    padding: 0 20px;
    text-align: left;
}

.related_properties_result .category_title, .cat_heading .est_desc h1 {
    display: none;
}

.cat_heading .est_title h2{
	color: #07793f;
}

.related_properties_result .image_wrapper .image_container img {
    height: 180px;
}

.seo_content {
    padding-top: 20px;
    border-top: 3px solid #b4d7c5;
}

.breadcrumbs{
    top: 25px;
}

.oclp, .ccc{
    color: #747474;
    height: 40px;
    cursor: pointer;
}

.oclp span, .ccc span{
    vertical-align: -8px;
}

.dp_active{
    border: 2px solid #07793F;
    font-weight: bold;
    color: #34644e; 
}

.data_privacy .col-sm-4 {
    -ms-flex: 0 0 29%;
    flex: 0 0 29%;
    max-width: 29%;
    }

.data_privacy .dp_head{
    -ms-flex: 0 0 42%;
    flex: 0 0 42%;
    max-width: 42%; 
}

.ccc_data_privacy{
    display: none;
}

.ccc_content{display: none;}

.base_nav{
	/* color: #666 !important; */
}

@media (max-width: 1024px){
    .data_privacy .col-sm-4 , .data_privacy .dp_head{
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%; 
    }
    .data_privacy .dp_head{
        text-align: left;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%; 
    }

    .oclp span, .ccc span{
        vertical-align: 0;
      
    }

    .oclp, .ccc{
         padding: 10px 0;
         height: auto;
    }
}

@media (max-width: 767px){
    .data_privacy .col-sm-4 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%; 
    }

    .dp_inactive{
        border: 2px solid #b2b2b2;
    }
}