body {
    padding-top: 100px;
    font-family: Gotham-Book;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

#video_label{
    opacity: 0;
    transition: all .5s ease-in-out;
}
.navi-bar{
    opacity: 0;
    transition: all .5s ease-in-out;
}
.navi-bar, #banner_image, #slider, .container, .content, #footer, #video_label, #footer, .news_related, #news, .recommended_links_container, #roles, #video_player, .image_container img{
    opacity: 1;
    transition: all .5s ease-in-out;
}

.content{
    min-height: 420px;
}


.content a{
    cursor: pointer;
    color: #666;
    text-decoration: underline;
}

select option{
    height: 30px;
    margin: 20px;
    padding: 10px;
    display: block;
    font-weight: normal;

}

 .form-control {
   border: 2px solid #e7e7e7; 
 }


.content{
	margin: 40px 0;
}

.noselect, h1, h2, h3, h4, h5, p, a, label, span, ul, li, td, th, img, button{
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
        word-wrap: break-word;
}

h2{
    color: #07793F;
    font-size: 1.5rem;
    font-weight: 600;
}

@font-face {
    font-family: Gotham-Book;
    src: url('/data/fonts/Gotham/Gotham-Book.otf');
}

@font-face {
    font-family: Gotham-Medium;
    src: url('/data/fonts/Gotham/Gotham-Medium.otf');
}

@font-face {
    font-family: Gotham-Light;
    src: url('/data/fonts/Gotham/Gotham-Light.otf');
}

img{
	user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
	cursor: pointer !important;
}

a.default-button{
    width: auto;
    max-width: 350px;
    min-width: 140px;
    padding: 15px 30px;
    background-color: #0a4233;
    color: #FFF !important;
    text-transform: uppercase;
    font-size: .8rem;
    letter-spacing: 1px;
    cursor: pointer;
    text-decoration: none;

    -webkit-transition: background-color .5s ease-out,  color 1s ease-out;
    -moz-transition: background-color .5s ease-out,  color 1s ease-out;
    -o-transition: background-color .5s ease-out,  color 1s ease-out;
    transition: background-color .5s ease-out,  color 1s ease-out;
}

.default-button:hover{ 
    background-color: #09533f;
    color: #FFF !important;
}


.banner_gradient{
    background: linear-gradient(#000 5%, transparent 90%, transparent 100%);
    z-index: 10;
    width: 100%;
    height: 100%;
    position: absolute;
    filter: opacity(.5);
}

#banner_image{
    margin-bottom: 40px;
}

#banner_image img{
    min-height: 200px;
}
#banner_image img, #slider img{
    z-index: 10;
	width: 100%;
	object-fit: cover;
	object-position: 50% 50%;
}

#banner_image h1, #slider h1, #banner_image h3, #slider h3 {
    position: absolute;
    max-width: 500px;
    font-size: 70px;
    color: #FFF;
    display: none;
}

#banner_image h5 {
    width: 100%;
    text-align: center;
    position: absolute;
    text-transform: uppercase;
    color: #FFF;
    letter-spacing: 1px;
}

.banner_margin{ 
    position: relative;
    max-width: 1140px;
    z-index: 11;
}

#slider .banner_margin h1{

}

#banner_logo_image{
    background-image: url(/data/images/ortigas_logo_image.png);
    height: 410px;
    width: 500px;
    right: 0;
    z-index: 0;
    position: absolute;
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    display: none;
}

.estates {
	padding: 20px 15px;
    text-align: center;
}

/** zoom **/
.image_wrapper{
  overflow: hidden;
}

.category_title{
    padding-bottom: 10px;
    border-bottom: 1px solid #0a4233;
}

.category_title h2{
    color: #0a4233;
    text-align: left;
}

.category_title a{
    margin-top: 20px;
    text-align: right;
    color: #666;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
}

.image_wrapper .image_container {
 	visibility: visible;
 	-webkit-transform: translateY(0) scale(1);
 	transform: translateY(0) scale(1);
 	-webkit-transition: -webkit-transform .7s ease-in-out 0.2s; 
 	transition: transform .7s ease-in-out 0.2s; 
}

.image_wrapper:hover .image_container {
	-webkit-transform: translateY(0) scale(1.1);
 	transform: translateY(0) scale(1.1);
	-webkit-transition: -webkit-transform 1s; 
 	transition: transform 1s; 
}

.image_wrapper .image_container img{
  object-fit: cover;
  width: 100%;
  height: 345px;
}

/* zoom */

.image_wrapper .property{
    position: absolute;
    z-index: 1;
    text-decoration: none;
    color: #fff;
    bottom: 60px;
    text-transform: uppercase;
    letter-spacing: 1px;

    width: -moz-calc(100% - (30px));
    width: : -webkit-calc(100% - (30px));
    width: calc(100% - (30px));

    margin: auto;
    font-size: 20px;
}


.image_wrapper .property p{
	margin-bottom: 0px;
	padding: 0px;
}

.image_wrapper .estate {
    position: absolute;
    z-index: 1;
    margin: auto;
    text-decoration: none;
    color: #fff;
    bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;

    width: -moz-calc(100% - (30px));
    width: : -webkit-calc(100% - (30px));
    width: calc(100% - (30px));
}

.green_button{
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #0a4233;
    color: #FFF;
    cursor: pointer;
}

.hide{
    display: none;
    text-transform: lowercase;
}

.related_properties_result{
    margin-top: 15px;
}


.news_related{
    text-align: left;
    /*background-color: #f2f8f6;*/
   /* padding: 20px;*/
}

.related_news_title{
    color:  #0a4233;
    text-align: left;
    max-width: 1100px;
    margin: auto;
}

.news_related_content{
  margin-top: -20px;
}

.inquiry_form_container{
    margin-top: 30px;
}

.inquiry_form_container h2{
    text-align: center;
    font-size: 2.7rem;
    color: #0a4233;
}
.inquiry_form_container a{
    text-align: center;
    cursor: pointer;

}

.specific_estate .estate_button{
    /*background-color: #34644e;*/
    padding: auto 20px;
    height: 70px;
    color: #fff;
}

.specific_estate .estate_button p{
    color: #FFF;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    width: 85%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
}

.specific_estate .estate_button span{
    font-size: .75rem;
    color: #FFF;
    width: 85%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, 50%);
    text-transform: initial;
}

.rear_content{
    color: #666;
    text-align: left;
}
.seo_content {
    margin-top: 60px;
    color: #666;
    text-align: left;
}

.seo_content h1,  .rear_content h1{
    margin-bottom: 20px;
    color: #0a4233;
    text-align: center;
}

#location {
    margin-top: 60px;
}

.recommended_links_container{
    padding: 30px 0;
    background-color: #9a9a9a;
    color: #FFF;
}

.recommended_links_container h2{
    color: #FFF;
    font-size: 1.7rem;
    letter-spacing: -1px;
}

.recommended_links_container a{
    color: #FFF;
    text-decoration: none;
}

.clear{ clear: both; }

.page_overview h1{
    color: #0a4233;
}

.dtpost { border-right: 0; }
/*.news_tags, .news_details i.fa{ display: none !important; }*/

a.inquiry_button {
    display: inline-block;
}


/*.error_field{
    top: 65px;
    left: 5px;
    position: absolute;
    background-color: antiquewhite;
    border-radius: 5px;
    margin: 0px;
    padding: 5px 10px;
    color: #333;
    width: auto;
    z-index: 1;
}*/
.error_field p{
    display: inline-block;
    margin-left: 10px;
    font-size: .8rem;
    margin-bottom: 0px;
}

.error_field i{
    display: inline-block;
    margin-top: 3px;
    color: #f7b217;
    float: left;
}

#global_search_container{
    position: absolute;
    max-width: 100%;
    top: 100px;
    width: -moz-calc(100% - (30px));
    width: : -webkit-calc(100% - (30px));
    width: calc(100% - (30px));   
}

.global_search{
    background-color: #FFF;
    display: none;
    max-width: 1120px;
    padding: 40px 20px;
    margin: auto;
}

.checkbox-round {
    width: 1.25em;
    height: 1.25em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 2px solid #ddd;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox-round:checked {
    background-color: #0a4233;
    background-size: 50% 50%;

}

.global_search h5{
    padding-bottom: 20px;
    color: #0a4233;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}
.global_search .default_search .form-control {
    border-radius: 0px;
    padding-right: 40px;
}

.global_search .default_search{
    margin-bottom: 20px;
}

.global_search .default_search i{
    position: absolute;
    right: 30px;
    top: 10px;
    color: #666;
    cursor: pointer;
}

.global_search .default_search label{
    font-size: .8rem;
    letter-spacing: 1px;
    padding-top: 8px;
}

.global_search .default_search div:first-child label{
    color: #0a4233;
    font-weight: bold;
}

.global_search_filters{
    margin-top: 10px;
    text-align: center;
}

.global_search_filters label{
    text-transform: uppercase;
    margin: 0 15px;
    color: #666;
    cursor: pointer;
}

.green{
    color: #0a4233 !important;
}

#slider .carousel-indicators img{

}


.social_media_properties{
    text-align: right;
    max-width: 1100px;
    width: 100%;
    margin: auto;
    top: 120px;
    position: absolute;
    z-index: 10;
}

.social_media_properties a{
    margin: 0 8px;
    font-size: 2rem;
    color: #FFF;
    cursor: pointer;
}

.social_media_properties_wrapper{
    margin: auto;
    max-width: 1100px;
    width: 100%;
}

.sidebar_property_result{display: none;}

.alertify-logs{
    bottom: 90px;
}

.breadcrumbs{
    text-transform: uppercase;
    color: #FFF;
    font-size: .9rem;
    position: absolute;
    width: 100%;
    top: 125px;
    font-weight: 500;
    cursor: default;
    text-indent: 20px;
    z-index: 11;
}

.breadcrumbs_content{
    max-width: 1140px;
    padding: 0;
    font-weight: 400;
}

.breadcrumbs a{
    text-decoration: none;
    color: #FFF;
    cursor: pointer;
}

.gm-style-iw{
    background-color: #FFF;
    padding: 5px;
    display: none;
}

.gm-ui-hover-effect{
    top: 5px !important;
    right: -5px !important;
}

#dt-images{
    opacity: 0;
}

.pagination_link{
    margin: auto;
}

.pagination_link .page-link{
    border: 0;
    text-decoration: none;
    border: 3px solid transparent;
    margin: 0 10px;
    
}

.pagination_link .page-item:first-child .page-link,
.pagination_link .page-item:last-child .page-link{
    font-size: .7rem;
    text-transform: uppercase;
    line-height: 1.5rem;
    border: 0;
    border-radius: unset;
}

.pagination_link .page-item.active .page-link{
    background-color: transparent;
    border: 3px solid #0a4233;
    color: #0a4233;
}

.page-link:hover {
  color: #0a4233;
}

#dt-images_filter{
    display: none;
}

#dt-images_wrapper{
    margin-top: 20px;
}

img.lazy {
    display: inline-block;
    background-image: url('../../../../../data/images/spinner.gif');
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.carousel-indicators img.lazy,
.news_result img.lazy,
.related_properties_result img.lazy {
     display: inline-block;
    background-image: url('../../../../../data/images/spinner.gif');
    background-size: contain;
}

#privacy_policy_float{
    padding: 15px 50px;
}

#privacy_policy_float h5{
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    color: #0a4233;
}

#privacy_policy_float p{
    font-size: .8rem;
}

.color_pdf{
    color: #d24726;
}

.color_doc{
    color: #0f50b4;
}

div.dataTables_wrapper .page-item .page-link{
    border: 3px solid transparent !important;
    text-transform: uppercase;
    font-size: .8rem;
    cursor: pointer;
    text-decoration: none;
    color: #a5a5a5;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

div.dataTables_wrapper .page-item .page-link:hover{
    background-color: none;
}

div.col-md-7{
    flex: 0 0 100%;
    max-width: 100%;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination{
    justify-content: center !important;
}

div.dataTables_wrapper .page-item.active .page-link{
    background: none !important;
    background-color: none !important;
    border-color: #07793f !important;
    border: 3px solid #07793f !important;
}

#slider .carousel-indicators img{
    height: 68px;
    width: 68px;
}

.slick-track{
    display: flex;
    justify-content: center;
}

.breadcrumbs_content {display: none;}
@media(max-width: 1440px) {
    .social_media_properties a{
        font-size: 1.8rem;
    }
}

@media(max-width: 1200px) {
    #slider .carousel-indicators img{
        height: 58px;
        width: 58px;
    }

}

@media(max-width: 1024px) {
   body{
        padding-top: 80px;
    }

    .social_media_properties{
        text-align: center;
        max-width: 1100px;
        width: 100%;

    }
    .social_media_properties a{
        font-size: 1.6rem;
    }

    #banner_image h1, #slider h1{
        font-size: 3.5rem;
    }

    .news_sidebar{
        padding-left: 15px;
    }

    .news_sidebar .related_properties_result {
        display: none !important;
    }

    .stick_side .inquiry_border_bottom{
        background-color: transparent;
    }

    /*.news_related .row, .news_related_content .row { margin-left: 0 !important; margin-right: 0 !important; }*/


}


@media(max-width: 991px) {
    .breadcrumbs{
        top: 100px;
        font-size: .8rem;
    }
    
    #slider .carousel-indicators img{
        max-height: 70px;
        max-width: 70px;
    }
}

@media(max-width: 768px) {

    .footer_border{ 
        display: block;
        height: 2px;
    }

    #banner_image h1,  #slider h1{
        left: 20px;
    }

    #banner_image h5{
    /*    top: initial;
        -ms-transform: translateY(-600%);
        transform: translateY(-600%);*/
    }

    #banner_image img, #slider img{
        height: auto;
    }

    .social_media_properties a{
        font-size: 1.4rem;
    }

    .news_result_container, .news_image, .news_result div {
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding: 0 !important;
    }
}


@media(max-width: 600px) {
    #banner_image h5{
        font-size: .9rem;
    }

    .social_media_properties a{
        font-size: 1.2rem;
    }

    .breadcrumbs_content {
        padding: 0 20px;
        text-indent: 0;
    }
}

@media(max-width: 500px) {
    #banner_image h5{
        font-size: .8rem;
    }

    .social_media_properties a{
        font-size: 1.1rem;
    }

    .carousel-item img{
        min-height: 200px;
    }

    #banner_logo_image {  
        height: 300px;
        width: 300px;
        margin-top: 0px;
    }

    h2 {
        font-size: 2.2rem;
    }
}



@media(max-width: 375px) {

    #banner_image h1, #slider_image h1{
        font-size: 3rem;
    }

    #banner_logo_image {  
        margin-top: -40px;
    }
}