#footer{
	background-color: #064333; /*9a9a9a*/
	padding: 20px 0;
	color: #FFF;
}

.footer_content{
	color: #FFF;
}

.footer_border{
    display: none;
    width: 100%;
    border-bottom: 2px solid #84bc9f;
}

#footer a{
    color: #FFF;
    cursor: pointer;
}

#footer .link a{
    font-size: .8rem;
}

.footer_content .address p{
	padding: 0;
	margin: 0;
	font-weight: lighter;
	color: #FFF;
	font-size: .9rem;
	opacity: .9;
}

.footer_content .address img{
	margin-bottom: 20px;
	width: 100%;
	max-width: 300px;
	filter: brightness(0) invert(1);
}

.footer_content .link h2{
	color: #FFF;
	text-decoration: none;
	margin-top: 12px;
}

.footer_content .link ul{
	padding: 0;
	margin-top: 16px;
	font-weight: bold;
}

.footer_content .link ul ul{
	padding: 0;
	margin: auto 0;
}

.footer_content .link li{
	list-style: none;
	padding: 10px 0;
	font-size: 14px;
	opacity: .8;
	font-size: .7rem;
}

.footer_content .link li a{
	text-transform: uppercase;
	text-decoration: none;
	font-weight: lighter;
	font-size: .8rem;
}


.footer_content .subscribe h2{
	color: #FFF;
	text-decoration: none;
}

.footer_content .subscribe p{
	text-decoration: none;
	font-size: .8rem !important;
	color: #F2F2F2;
}
/*font-weight: lighter;
	font-size: 1rem;*/


.footer_content .subscribe input{
    padding: 10px 20px;
    font-size: .9rem;
    width: 60%;
}


.footer_content .subscribe a {
	text-decoration: none;
	color: #FFF !important;
	margin-right: 15px;
	font-size: 2rem;
}

.subscribe_button{
    padding: 14px 22px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 11px !important;
	/* background-color: #4a4a4a; */
    background-color: #39695d;
	width: 37%;
	cursor: pointer;
	margin-top: 15px;
	margin-left: 0 !important; 
	margin-right: 0 !important; 
	margin-top: 15px;
	border: 1px solid #fff;
}

@media(max-width: 990px) {
	#explore_title{
		margin-left: 19px;
	}
	.footer_content .link{
		padding: 0px;
	}
	.footer_content .subscribe{
		padding: 0px 10px 0px;
	}
	.footer_content .subscribe input{
		width: 50%;
	}
	.footer_content .link ul{
		margin-top: 5px;
		margin-left: 20px;
		margin-right: unset !important;
	}

}

@media(max-width: 768px) {
	.footer_content .address,
	.footer_content .link,
	.footer_content .subscribe{
		width: 100%;
		max-width: 100%;
		-ms-flex: 0 0 100%;
      	flex: 0 0 100%;      
	}

	.footer_content .address{
		padding-bottom: 15px;
		text-align: center;
	}

	.footer_content .link{
		/*text-align: left;*/
	}

	.footer_content .subscribe{
		padding: 0px 35px 0px;
		border-bottom: 0;
		text-align: left;
	}

	.footer_content table{
		text-align: center;
		margin: auto;
	}

	.footer_content table td p{
		text-align: left;
		margin: auto;
	}

	.footer_content .subscribe a {
		margin-left: 15px;
	}

	.subscribe_button{ 
		margin-left: 0 !important; 
		margin-right: 0 !important; 
	}

	#footer .footer_border{ 
		display: block;
        margin: 0 20px;
    }

}