#footer{
	background-color: #07793f; /*9a9a9a*/
	padding: 20px 0;
	color: #FFF;
}

.footer_content{
	color: #FFF;
}

.footer_border{
    display: none;
    width: 100%;
    border-bottom: 2px solid #84bc9f;
}

#footer a{
    color: #FFF;
    cursor: pointer;
    font-size: 2rem;
}

#footer .link a{
    font-size: .8rem;
}

.footer_content .address p{
	padding: 0;
	margin: 0;
	font-weight: lighter;
	color: #FFF;
	font-size: 16px;
	opacity: .9;
}

.footer_content .address img{
	margin-bottom: 20px;
	width: 100%;
	max-width: 300px;
	filter: brightness(0) invert(1);
}

.footer_content .link ul{
	padding: 0;
}

.footer_content .link ul ul{
	padding: 0;
	margin: auto 0;
}

.footer_content .link li{
	list-style: none;
	padding: 10px 0;
	font-size: 14px;
	opacity: .8;
	font-size: .7rem;
}

.footer_content .link li a{
	text-transform: uppercase;
	text-decoration: none;
	color: #FFF;
	font-weight: lighter;
	font-size: .8rem;
}


.footer_content .subscribe h1{
	text-decoration: none;
	color: #FFF;
}

.footer_content .subscribe p{
	text-decoration: none;
	color: #FFF;
}
/*font-weight: lighter;
	font-size: 1rem;*/


.footer_content .subscribe input{
    padding: 10px 20px;
    font-size: .9rem;
    width: 60%;
}


.footer_content .subscribe a {
	text-decoration: none;
	color: #FFF !important;
	margin-right: 15px;
	font-size: 2rem;
}

.subscribe_button{
    padding: 17px 14px  16px 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 11px !important;
	background-color: #4a4a4a;
	width: 35%;
	cursor: pointer;
	margin-left: 0 !important; 
		margin-right: 0 !important; 
}


@media(max-width: 768px) {
	.footer_content .address,
	.footer_content .link,
	.footer_content .subscribe{
		width: 100%;
		max-width: 100%;
		-ms-flex: 0 0 100%;
      	flex: 0 0 100%;
      	text-align: center;
      
	}

	.footer_content .address{
		padding-bottom: 15px;
	}

	.footer_content .link{
		/*text-align: left;*/
	}

	.footer_content .subscribe{
		padding-top: 15px;
		border-bottom: 0;
	}

	.footer_content table{
		text-align: center;
		margin: auto;
	}

	.footer_content .subscribe a {
		margin-left: 15px;
	}

	.subscribe_button{ 
		margin-left: 0 !important; 
		margin-right: 0 !important; 
	}

	#footer .footer_border{ 
        margin: 0 20px;
    }

}